<!--           error.ejs           -->
<!-- Added to page if error occurs -->
<!--   Written by Brandon Kelley   -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
