<!--             external.ejs          -->
<!--  Profile Page when not logged in  -->
<!--     Written by Brandon Kelley     -->

<!DOCTYPE html>
<html>

<head>
  <title>Sigma Phi Delta Fraternity</title>
  <% include base/styles %>
</head>

<body>
  <% include base/navbar %>
  <% include base/left_col %>
  <div class="main">
    <div class="container">
      <div>
        <h1>Want to become a member?</h1>
        <p>Rush Sigma Phi Delta</p>
        <br/>
        <h1>Already a member</h1>
        <p>Sign in!</p>
      </div>
    </div>
  </div>
  <% include base/right_col %>
  <% include base/footer %>
  <% include base/scripts %>
</body>
</html>
