<!--          home.ejs         -->
<!--          Homepage         -->
<!-- Written by Brandon Kelley -->

<!DOCTYPE html>
<html>
  <head>
    <title>Sigma Phi Delta Fraternity | <%= title %></title>
    <% include base/styles %>
    <link rel="stylesheet" type="text/css" href="/css/flexslider.css"/>
  </head>
  <body>
    <% include base/navbar %>
    <% include base/left_col %>
    <div class="main">
      <div class="container">
        <% if (error != null) { %>
          <div>
            <% include error %>
          </div>
        <% } %>
        <div id="blank"></div>
        <div id="banner">
          <img src="/images/spdbanner.png"/>
        </div>
        <div class="container" id="bottom_element">
          <div class="flexslider" id="flexslider">
            <ul class="slides">
              <li><img src="/images/spdcharter.jpg"/></li>
              <li><img src="/images/spdline.jpg"/></li>
              <li><img src="/images/calpolyengsign.jpg"/></li>
              <li><img src="/images/foundersandalphas.jpg"/></li>
              <li><img src="/images/spddinner.jpg"/></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% include base/right_col %>
    <% include base/footer %>
    <% include base/scripts %>
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/jquery.flexslider.start.js"></script>
  </body>
</html>
