<!--       recruitment.ejs       -->
<!--       Recruitment Page      -->
<!--  Written by Brandon Kelley  -->

<!DOCTYPE html>
<html>

<head>
  <title>Sigma Phi Delta Fraternity</title>
  <% include base/styles %>
</head>

<body>
  <% include base/navbar %>
  <% include base/left_col %>
  <div class="main">
    <div class="container">
      <div id="blank"></div>
      <div>
        <h1>Beta-Nu Recruitment</h1>
        <h2>Our Standards</h2>
        <p>The Sigma Phi Delta Fraternity is historically known as a professional brotherhood of engineers. We hold professionalism and education among our highest priorities. All who wish to join must be studying either under the College of Engineering or an ABET accredited engineering major at Cal Poly and have a cumulative GPA no lower than a 2.7. This includes the following majors:</p>
        <ul>
          <li>Aerospace Engineering</li>
          <li>Architectural Engineering</li>
          <li>Biomedical Engineering</li>
          <li>Bioresource and Agricultural Engineering</li>
          <li>Civil Engineering</li>
          <li>Computer Engineering</li>
          <li>Computer Science</li>
          <li>Electrical Engineering</li>
          <li>Environmental Engineering</li>
          <li>General Engineering</li>
          <li>Industrial Engineering</li>
          <li>Liberal Arts and Engineering Studies</li>
          <li>Manufacturing Engineering</li>
          <li>Materials Engineering</li>
          <li>Mechanical Engineering</li>
          <li>Software Engineering</li>
        </ul>
        <h2>Rush</h2>
        <img src="/images/rushflyer.jpg"/>
        <p>Beta-Nu Chapter will not be sponsoring rush events until Fall of 2015. If you are interested, <a href="/contact_us">contact us</a> for more details.</p>
      </div>
    </div>
  </div>
  <% include base/right_col %>
  <% include base/footer %>
  <% include base/scripts %>
</body>
</html>
