<%         /* left_col.ejs */         %>
<%      /* Left column partial */     %>
<%   /* Written by Brandon Kelley */  %>

<span class="column">
  <div class="container">
    <% if (user !== null) { %>
      <div>
        <h4>Logged in as: <%= user.username %></h4>
        <button id="logout" type="button">Logout</button>
      </div>
      <div>
        <a href="#"><h4>Personalized Links</h4></a>
      </div>
      <div>
        <a href="#"><h4>SPD Drive</h4></a>
      </div>
      <div>
        <a href="#"><h4>Email</h4></a>
      </div>
      <div>
        <a href="#"><h4>Events</h4></a>
      </div>
      <div>
        <a href="http://www.reddit.com"><h4>Reddit</h4></a>
      </div>
    <% } else { %>
      <div>
        <h4>Login</h4>
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <button id="login" type="button">Submit</button>
      </div>
    <% } %>
    <div></div>
  </div>
</span>
