<!--           left_col.ejs          -->
<!--  Left column partial for pages  -->
<!--    Written by Brandon Kelley    -->

<div class="column">
  <div class="container">
    <% if (user !== null) { %>
      <div class="container" style="text-align: center;">
        <h4>Logged in as: <%= user.username %></h4>
        <button id="logout" type="button">Logout</button>
      </div>
      <div class="container" style="text-align: center;">
        <a href="#"><h4>Personalized Links</h4></a>
      </div>
      <div class="container" style="text-align: center;">
        <a href="#"><h4>SPD Drive</h4></a>
      </div>
      <div class="container" style="text-align: center;">
        <a href="#"><h4>Email</h4></a>
      </div>
      <div class="container" style="text-align: center;">
        <a href="#"><h4>Events</h4></a>
      </div>
    <% } else { %>
      <div class="container" style="text-align: center;">
        <h4>Login</h4>
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <button id="login" type="button">Submit</button>
      </div>
    <% } %>
    <div></div>
  </div>
</div>
