<!--           left_col.ejs          -->
<!--  Left column partial for pages  -->
<!--    Written by Brandon Kelley    -->

<div class="column">
  <div class="container">
    <div id="blank"></div>
  </div>
</div>
