<!--           left_col.ejs          -->
<!--  Left column partial for pages  -->
<!--    Written by Brandon Kelley    -->

<div class="column">
  <div class="container">
    <div id="blank"></div>
    <div class="container" style="text-align: center;">
      <% if (user != null) { %>
        <h4>Logout</h4>
        <button id="logout" type="button">Submit</button>
      <% } else { %>
        <h4>Login</h4>
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <button id="login" type="button">Submit</button>
      <% } %>
    </div>
  </div>
</div>
