<!--          navbar.ejs         -->
<!--  Navbar partial for pages   -->
<!--  Written by Brandon Kelley  -->

<div class="navbar">
  <div id="main_nav_container">
    <div id="main_nav_element">
      <% if (title == "Home") { %>
        <span id="main_active" class="active">
          <a href="/"><h3>&#931&#934&#916</h3></a>
        </span>
      <% } else { %>
        <span id="main_active">
          <a href="/"><h3>&#931&#934&#916</h3></a>
        </span>
      <% } %>
    </div>
  </div>
  
  <% if (title == "About Us") { %>
    <span class="active">
      <a href="/about_us">
        <h4 class="active">About Us</h4>
      </a>
    </span>
  <% } else { %>
    <span>
      <a href="/about_us">
        <h4>About Us</h4>
      </a>
    </span>
  <% } %>
  
  <% if (title == "Recruitment") { %>
    <span class="active">
      <a href="/recruitment">
        <h4 class="active">Recruitment</h4>
      </a>
    </span>
  <% } else { %>
    <span>
      <a href="/recruitment">
        <h4>Recruitment</h4>
      </a>
    </span>
  <% } %>
  
  <% if (title == "Contact Us") { %>
    <span class="active">
      <a href="/contact_us">
        <h4 class="active">Contact Us</h4>
      </a>
    </span>
  <% } else { %>
    <span>
      <a href="/contact_us">
        <h4>Contact Us</h4>
      </a>
    </span>
  <% } %>
  
  <% if (user !== null) { %>
    <% if (title == "Dashboard") { %>
      <span class="active">
        <a href="/dashboard">
          <h4 class="active">Dashboard</h4>
        </a>
      </span>
    <% } else { %>
      <span>
        <a href="/dashboard">
          <h4>Dashboard</h4>
        </a>
      </span>
    <% } %>
  <% } %>
  
  <span id="school_nav_container">
    <div style="margin: auto; padding: 0.9em;">
      <a href="//www.calpoly.edu/"><h4>Cal Poly, SLO</h4></a>
    </div>
  </span>
  
</div>
