<!--          navbar.ejs         -->
<!--  Navbar partial for pages   -->
<!--  Written by Brandon Kelley  -->

<div class="navbar">
  <div id="main_nav_container">
    <div id="main_nav_element">
      <span id="main_active">
        <a href="/"><h3>&#931&#934&#916</h3></a>
      </span>
    </div>
  </div>
  <span>
    <% if (title == "About Us") { %>
      <a href="/about_us" class="active">
        <h4 class="active">About Us</h4>
      </a>
    <% } else { %>
      <a href="/about_us">
        <h4>About Us</h4>
      </a>
    <% } %>
  </span>
  <span>
    <a href="/recruitment"><h4>Recruitment</h4></a>
  </span>
  <span>
    <a href="/contact_us"><h4>Contact Us</h4></a>
  </span>
  <span id="school_nav_container">
    <a href="//www.calpoly.edu/"><h4>Cal Poly, SLO</h4></a>
  </span>
</div>
