<section>
  <h1><%= album[0]["album"] %></h1>
  <div class="albums">
     <% for (var i = 0; i < album.length; i++) { %>
       <% var urls = album[i]["url"] %>
       <% var img = "/assets/images" + urls["photo"] %>
       <% var link = "/gallery" + urls["album"] + urls["photo"] %>
       <span class="gallery_thumb">
         <a href=<%= link %>>
           <div>
             <img src=<%= img %> />
           </div>
           <h2><%= album[i]["title"] %></h2>
         </a>
       </span>
     <% } %>
   </div>
</section>
