<%         /* dashboard.ejs */        %>
<%       /* Dashboard partial */      %>
<%   /* Written by Brandon Kelley */  %>

<section>
  <h1>Welcome, Brother <%= user.nickname %></h1>
  <span>
    <h2>Useful Links</h2>
    <p>Meetings</p>
    <ul>
      <li>
        <a href="https://docs.google.com/forms/d/1y89NmiA8L54-1w2ZFnZ806YkOBXi7GBFW4w1HOgsmKA/viewform">Attendance Form</a>
      </li>
      <li>
        <a href="https://docs.google.com/document/d/1_aArC-CFfNKKrCbP5nOPdrS3WT6bk42kpvUv9dH4ito/edit?pli=1">Bill Template</a>
      </li>
      <li>
        <a href="https://docs.google.com/forms/d/1vbE-_Jtsp_BJadHmHGA_URogZlV-vJR-otsl2Lj6Lt8/viewform">Bill Submission</a>
      </li>
      <li>
        <a href="https://drive.google.com/folderview?id=0B9CM0HBcCqtxaVJ5ZEJPbjJPYkE&usp=sharing">Shared Files</a>
      </li>
    </ul>
    <p>Philanthropy</p>
    <ul>
      <li>
        <a href="https://docs.google.com/document/d/1lvy9KrezufgoPUmxTeyJUxRZsITTXiMLrrXQGrUJ8FA/edit?pli=1">Volunteer Form</a>
      </li>
      <li>
        <a href="https://www.google.com/calendar/embed?src=philanthropy.spd.calpoly@gmail.com&ctz=America/Los_Angeles">Calendar</a>
      </li>
    </ul>
    <p>Pledge</p>
    <ul>
      <li>
        <a href="https://docs.google.com/spreadsheets/d/1Qp7H0qO19pPwQDvPRO9OBwT9Ex_PDS_a8-0HPuBLzVU/edit#gid=0">White and Black Marks</a>
      </li>
      <li>
        <a href="https://www.googlecom/calendar/embed?src=om9tu8ih2i4srfqo98g42uve2c%40group.calendar.google.com&ctz=America%2FLos_Angeles">Calendar</a>
      </li>
    </ul>
    <p>Financial</p>
    <ul>
      <li>
        <a href="https://docs.google.com/spreadsheet/ccc?key=0AtCM0HBcCqtxdDl4VEk4WTRNWkVpY3VHOXIwVWFKNc&usp=sharing#gid=0">Budget</a>
      </li>
    </ul>
    <p>Academic</p>
    <ul>
      <li>
        <a href="https://drive.google.com/folderview?id=0B9CM0HBcCqtxYVhkb043V2RYQVE&usp=sharing">Test Bank</a>
      </li>
    </ul>
    <p>Imporant Docs</p>
    <ul>
      <li>
        <a href="https://docs.google.com/spreadsheet/ccc?key=0AtCM0HBcCqtxdGdLdTh2eFdXVFpmSkUwaTF6NzhNWHc&usp=sharing#gid=0">Roster</a>
      </li>
      <li>
        <a href="https://docs.google.com/document/d/1lCBT4TzG1c97MKmw4Wt8iddxbkdLopGTlaBxrFvVUgs/edit">Bylaws</a>
      </li>
      <li>
        <a href="https://docs.google.com/document/d/1OPDHHfWdU8WJztKpGK78f1qAAoHRFWVGDcI3Hl82IVk/edit">House Rules</a>
      </li>
      <li>
        <a href="https://drive.google.com/folderview?id=0B9CM0HBcCqtxdzNtVWl0YWJTbm8&usp=sharing">Docs from the Mothership</a>
      </li>
      <li>
        <a href="https://www.google.com/calendar/embed?src=spd.calpoly%40gmail.com&ctz=America%2FLos_Angeles">General Calendar</a>
      </li>
      <li>
        <a href="https://www.google.com/calendar/embed?src=ojh5mrl3gia6umgj5021vugn68%40group.calendar.google.com&ctz=America%2FLos_Angeles">Birthdays</a>
      </li>
    </ul>
  </span>
</section>
