<%          /* events.ejs */          %>
<%        /* Events partial */        %>
<%   /* Written by Brandon Kelley */  %>

<span class="main">
  <div class="container">
    <div class="main_section">
      <h1>Sigma Phi Delta Events</h1>
      <h2>Professional</h2>
    </div>
    <div class="main_section">
      <h2>Social</h2>
    </div>
    <div class="main_section">
      <h2>Philanthropy</h2>
    </div>
  </div>
</span>
