<%          /* gallery.ejs */         %>
<%     /* Photo Gallery partial */    %>
<%   /* Written by Brandon Kelley */  %>

<span class="main">
  <div class="container">
    <div class="main_section">
      <h1>Photo Gallery</h1>
    </div>
  </div>
</span>
