<div>
  <h1>Productivity Hackathon Spring 2016</h1>
  <br>
  <img width="100%" src="/assets/images/hackathon-banner.jpg"/>
  <br>
  <br>
  <p>The Sigma Phi Delta engineering fraternity is hosting a
     hackathon centered around creating useful productivity tools for
     everyday processes. The idea is simple, just make something to show
     off your talents!</p>
  <p>Entrance is free and no signup is required. Teamwork is allowed and
     encouraged. Individuals will be given the option to join a group day
     of.</p>
  <hr>
  <h2>Details</h2>
  <p><strong>Cost:</strong> Free!</p>
  <p><strong>Date:</strong> April 30, 2016</p>
  <p><strong>Time:</strong> 10:00AM - 8:00PM</p>
  <p><strong>Location:</strong> Building 180, Room 101</p>
  <hr>
  <h2>Resources</h2>
  Web Design
  <ul>
    <li><a target="_blank" href="http://www.htmlgoodies.com/primers/html/article.php/3478151/Web-Developer-Class-Learn-the-Basic-HTML-Tags.htm">HTML basics</a></li>
    <li><a target="_blank" href="http://www.csstutorial.net/part-2/layout-page-part1.php">CSS Basics</a></li>
    <li><a target="_blank" href="https://developer.mozilla.org/en-US/Learn/Getting_started_with_the_web/JavaScript_basics">JavaScript Basics</a></li>
    <li><a target="_blank" href="http://jqfundamentals.com/chapter/jquery-basics">jQuery Basics</a></li>
  </ul>
  App Development
  <ul>
    <li><a target="_blank" href="http://developer.android.com/training/basics/firstapp/index.html">Getting started with Android</a></li>
    <li><a target="_blank" href="https://developer.apple.com/library/ios/referencelibrary/GettingStarted/DevelopiOSAppsSwift/Lesson2.html">A crash course in iOS UI</a></li>
  </ul>
  Command-line tools
  <ul>
    <li><a target="_blank" href="http://www.programmingsimplified.com/c-program-examples">Sample productivity programs written in C</a></li>
    <li><a target="_blank" href="http://www.panix.com/~elflord/unix/bash-tute.html">Bash scripting quick guide</a></li>
    <li><a target="_blank" href="http://usingpython.com/programs/">Interesting Python programs</a></li>
  </ul>
<div>
