<section>
  <h1>Sigma Phi Delta's jQuery Hackathon</h1>
  <br/>
  <img align="right" width="500px" style="margin: 10px" src="/images/jquery.jpg"/>
  <h2>Details</h2>
  <ul>
    <li>8:00am - 8:00pm</li>
    <li>University Union, Room 203</li>
    <li>No admission cost</li>
  </ul>
  <br/>
  <h2>Schedule of Events</h2>
  <ul>
    <li>7:30am:  Orientation presentation</li>
    <li>8:00am:  Hacking begins</li>
    <li>12:00pm: Lunch is served (Lots of pizza!)</li>
    <li>4:00pm:  Frisbee with the brothers</li>
    <li>8:00pm:  Hacking ends and submissions are due</li>
  </ul>
  <br/>
  <h2>How do I get involved?</h2>
  <p>Whether you are just getting start with web development or are ready to show off your skills, this hackathon is a great place to come and socialize with other programmers as you work on a project with the jQuery front-end framework. To get involved, send an email with your name and possible team members to <a href="mailto:webmaster.spd.calpoly@gmail.com">the fraternity webmaster</a> or just show up day of!</p>
  <br/>
  <h2>What if I have no idea what I'm doing?</h2>
  <p>At the event, the brothers of Sigma Phi Delta will be providing a mentor table for any questions about jQuery implementations or similar topics. Feel free to come see us and learn more.</p>
</section>
