<%           /* home.ejs */           %>
<%       /* Home page partial */      %>
<%   /* Written by Brandon Kelley */  %>

<section id="banner">
  <a target="_blank" href="//sigmaphidelta.org"><img src="/res/spdbanner.png"/></a>
</section>
<section class="container">
  <div class="flexslider" id="flexslider">
    <ul class="slides">
      <li><img src="/res/spdcharter.jpg"/></li>
      <li><img src="/res/spdline.jpg"/></li>
      <li><img src="/res/calpolyengsign.jpg"/></li>
      <li><img src="/res/foundersandalphas.jpg"/></li>
      <li><img src="/res/spddinner.jpg"/></li>
    </ul>
  </div>
</section>
