<%           /* home.ejs */           %>
<%       /* Home page partial */      %>
<%   /* Written by Brandon Kelley */  %>

<span class="main">
  <div class="container">
    <div id="banner">
      <img src="/images/spdbanner.png"/>
    </div>
    <div class="container">
      <div class="flexslider" id="flexslider">
        <ul class="slides">
          <li><img src="/images/spdcharter.jpg"/></li>
          <li><img src="/images/spdline.jpg"/></li>
          <li><img src="/images/calpolyengsign.jpg"/></li>
          <li><img src="/images/foundersandalphas.jpg"/></li>
          <li><img src="/images/spddinner.jpg"/></li>
        </ul>
      </div>
    </div>
  </div>
</span>
