<%           /* home.ejs */           %>
<%       /* Home page partial */      %>
<%   /* Written by Brandon Kelley */  %>

<section id="banner">
  <a target="_blank" href="//sigmaphidelta.org"><img src="/images/spdbanner.png"/></a>
</section>
<section class="container">
  <div class="flexslider" id="flexslider">
    <ul class="slides">
      <li><img src="/images/spdcharter.jpg"/></li>
      <li><img src="/images/spdline.jpg"/></li>
      <li><img src="/images/calpolyengsign.jpg"/></li>
      <li><img src="/images/foundersandalphas.jpg"/></li>
      <li><img src="/images/spddinner.jpg"/></li>
    </ul>
  </div>
</section>
