<section>
  <h2>Login</h2>
  <br/>
  <fieldset class="form-group">
    <input type="text" class="form-control" id="username" placeholder="Username"/>
  </fieldset>
  <fieldset class="form-group">
    <input type="password" class="form-control" id="password" placeholder="Password"/>
  </fieldset>
  <button id="login" class="btn btn-primary">Submit</button>
</section>
