<%       /* recruitment.ejs */        %>
<%     /* Recruitment partial */      %>
<%   /* Written by Brandon Kelley */  %>

<section>
  <h1>Beta-Nu Recruitment</h1>
  <h2>Our Standards</h2>
  <div class="recruitment-standards">
    <div>
      <ul class="no_bullet" style="text-align: center;">
        <li>Aerospace Engineering</li>
        <li>Architectural Engineering</li>
        <li>Biomedical Engineering</li>
        <li>Bioresource and Agricultural Engineering</li>
        <li>Civil Engineering</li>
        <li>Computer Engineering</li>
        <li>Computer Science</li>
        <li>Electrical Engineering</li>
      </ul>
    </div>
    <div class="image-wrapper">
      <img src="/assets/images/sig_phis.png"/>
    </div>
    <div>
      <ul class="no_bullet" style="text-align: center;">
        <li>Environmental Engineering</li>
        <li>General Engineering</li>
        <li>Industrial Engineering</li>
        <li>Liberal Arts and Engineering Studies</li>
        <li>Manufacturing Engineering</li>
        <li>Materials Engineering</li>
        <li>Mechanical Engineering</li>
        <li>Software Engineering</li>
      </ul>
    </div>
  </div>
  <p>The Sigma Phi Delta Fraternity is historically known as a professional brotherhood of engineers. We hold professionalism and education among our highest priorities. All who wish to join must be studying either under the College of Engineering or an ABET accredited engineering major at Cal Poly and have a cumulative GPA no lower than a 2.7. This includes the above majors.</p>
</section>
<section>
  <h2>Rush</h2>
  <p><strong>Week One: </strong>Sigma Phi Delta brothers will be boothing at the Resource Fair as well as the Dexter lawn area. Feel free to drop by and meet some of us and pick up a flyer of events. We will be recruiting for our fraternity's rush that starts the following week.</p>
  <p><strong>Week Two: </strong>Rush week begins and ends. Each day there will be a different event set up for Cal Poly students to come and get to know the brothers. This week is also our chance to meet people who we will potentially invite to join Sigma Phi Delta. The details of these events are listed below:</p>
  <p><strong>Day One: Info Session</strong></p>
  <ul>
    <li>Time: 6 - 8 PM on Monday, Jan. 11th</li>
    <li>Location: Building 192 (Engineering IV), Room 224</li>
    <li>Hear a presentation given by our rush chairman, Andrew Pimentel, and meet and greet with brothers and fellow rushees. Food will be provided.</li>
  </ul>
  <p><strong>Day Two: Dinner at Sylvester's</strong></p>
  <ul>
    <li>Time: 6 - 9 PM on Tuesday, Jan. 12th</li>
    <li>Location: the PAC</li>
    <li>Rushees will meet at the PAC at 6 PM, where brothers of SPD will then give rides to Sylvester's in Los Osos. Delicious burgers and food comas await attendees.</li>
  </ul>
  <p><strong>Day Three: Bowling with the Bros</strong></p>
  <ul>
    <li>Time: 6 - 7 PM on Wednesday, Jan. 13th</li>
    <li>Location: Mustang Lanes</li>
    <li>Bowling is what's in store for you if you join us on this fine day of free bowling. Bring your friends and show us what you've got!</li>
  </ul>
  <p><strong>Day Four: Resume Workshop and Game Night</strong></p>
  <ul>
    <li>Time: 6 - 9 PM on Thursday, Jan. 14</li>
    <li>Location: The Front Porch (468 E Foothill Blvd)</li>
    <li>This is the chance to get your resume in shape and prepared for the career fair. Fellow engineers in the brotherhood will help you tune your resume and skills to what is important to your specific major. This is a really good networking opportunity.</li>
  </ul>
  <p><strong>The Weekend: </strong>Be sure to keep Friday and Saturday open for fraternity purposes. If you are selected to join, these will be important days.</p>
  <p><strong>Please direct any questions to Recruitment Chairman Andrew Pimentel: recruitment.spd.calpoly@gmail.com</strong></p>
</section>
