<%       /* recruitment.ejs */        %>
<%     /* Recruitment partial */      %>
<%   /* Written by Brandon Kelley */  %>

<span class="main">
  <div class="container">
    <div class="main_section">
      <h1>Beta-Nu Recruitment</h1>
      <h2>Our Standards</h2>
      <div style="text-align: center">
        <img width="100%" style="margin-bottom: 10px" src="/images/sig_phis.jpg"/>
      </div>
      <p>The Sigma Phi Delta Fraternity is historically known as a professional brotherhood of engineers. We hold professionalism and education among our highest priorities. All who wish to join must be studying either under the College of Engineering or an ABET accredited engineering major at Cal Poly and have a cumulative GPA no lower than a 2.7. This includes the following majors:</p>
      <span style="width: 50%">
        <ul>
          <li>Aerospace Engineering</li>
          <li>Architectural Engineering</li>
          <li>Biomedical Engineering</li>
          <li>Bioresource and Agricultural Engineering</li>
          <li>Civil Engineering</li>
          <li>Computer Engineering</li>
          <li>Computer Science</li>
          <li>Electrical Engineering</li>
        </ul>
      </span>
      <span style="width: 50%">
        <ul>
          <li>Environmental Engineering</li>
          <li>General Engineering</li>
          <li>Industrial Engineering</li>
          <li>Liberal Arts and Engineering Studies</li>
          <li>Manufacturing Engineering</li>
          <li>Materials Engineering</li>
          <li>Mechanical Engineering</li>
          <li>Software Engineering</li>
        </ul>
      </span>
    </div>
    <div class="main_section">
      <h2>Rush</h2>
      <img width="30%" align="left" style="margin-right: 20px" src="/images/rushflyer.jpg"/>
      <p>Beta-Nu Chapter will not be sponsoring rush events until Fall of 2015. If you are interested, <a href="/contact_us">contact us</a> for more details.</p>
    </div>
  </div>
</span>
