extends base

block navbar about us element
	span.active
		a.active(href="/about_us")
			h4 About Us

block main content
	div
		h1 About Us: The Sigma Phi Delta Fraternity
		h2 Declaration of Principles and Objects
		p
			| "From time to time the Fraternity, or Greek, system is 
			| called upon to set forth the principles for which it 
			| stands. So far, it has been able to offer a satisfactory 
			| explanation for its existence. As a part of this system 
			| - as a Fraternity of Engineers we insist that whatever 
			| our own superficial peculiarities, we exist for a purpose.
		p
			| We stand steadfast and firm in our belief that we serve 
			| as a necessary adjunct to our Colleges and Universities 
			| in the training of young engineers. Our Constitution 
			| states, without equivocation, that the Object of the 
			| Fraternity shall be to promote the advancement of the 
			| Engineering Profession; to foster the advancement of 
			| Engineering Education; to instill a greater spirit of 
			| cooperation among Engineering Students and Organizations; 
			| to inculcate in its members the highest ideals of virtuous 
			| manhood, good Citizenship, obedience to Law, and 
			| Brotherhood; and to encourage excellence in scholarship. 
			| These objects we endeavor to fulfill in our Laws, in our 
			| Ritual, in our conduct and in our relations with others.
		p
			| The Sigma Phi Delta Fraternity has, since its founding 
			| on April 11, 1924, at the University of Southern 
			| California, been a Professional-Social Fraternity of 
			| Engineers. We are Professional in that, unlike the General 
			| Fraternity, we admit to membership only students enrolled 
			| or working in a curriculum, or program, leading toward a 
			| degree in engineering; that we encourage and expect our 
			| Chapters to conduct and to participate in a continuing 
			| professional program through symposia, seminars, field 
			| trips, and similar programs; and that we encourage our 
			| members to give the fullest support to the faculty of the 
			| Colleges and Schools of Engineering throughout North America.
		p
			| We are Social in that, similar to the General Fraternity, 
			| our members maintain and live in Chapter houses; have a 
			| social program; participate in athletic programs; and 
			| foster a close relationship with our graduated, or alumni, 
			| members."
		p(style='text-align: right')
			| Manual of Procedure - First Edition printed August 10, 1927
	div
		h2 Beta-Nu Emphasis
		p
			| Here in San Luis Obispo, California, Beta-Nu Chapter 
			| strives to uphold the traditions of the Sigma Phi Delta 
			| Brotherhood. Our priorities involve professionalism, as 
			| well as upholding our Code of Ethics. Both the pledging 
			| process and active life are centered around not only being 
			| the best engineer one can be, but also being the best man. 
			| Representing our ideals and tearing down barriers of 
			| stigma are what we stand for.
		p(style='text-align: right')
			| "An Engineer should live that his actions shall never 
			| besmirch his own honor, and thus maintain the honor of 
			| the Engineering profession."
		p(style='text-align: right')
			| Sigma Phi Delta Code of Ethics
	div
		h2 SPD History
		p
			| Sigma Phi Delta was founded on April 11, 1924 at 
			| University of Southern California in Los Angeles, 
			| California. Presently, the Sigma Phi Delta fraternity 
			| now recognizes 36 chapters internationally, plus interest 
			| in colonization. A detailed history can be found 
			a(href="http://www.sigmaphidelta.org/s/1247/aff_1_interior.aspx?sid=1247&gid=1&pgid=404") here
			| .
	div
		h2 Beta-Nu History
		p
			| The Beta-Nu Chapter of Sigma Phi Delta was colonized on 
			| October 26, 2013 and officially chartered on April 19, 
			| 2014. First rush and pledging process were held Fall of 
			| 2014. Since then, this chapter has initiated an Alpha and 
			| Beta class. The official total of active members is 25.
	div
		h2 Membership
		p Founding Class
		ul
			li Ryan Rumsey
			li Greg Lane
			li Garrett Klunk
		p Alpha Class
		ul
			li Alex Boyd
			li Eugene Chiang
			li Manuel Alvarez
		p Beta Class
		ul
			li Andrew Epperson
			li Oscar Lyncet
			li Eric Parella
		p Initiates
		ul
			li Christian Barreto (Alpha Class)
			li Justin Postigo (Beta Class)
		p Inactives
		ul
			li Minnal Kunnan
		p Alumni
		p Beta-Nu Chapter has no alumni yet!
