<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<head>
  <title>Sigma Phi Delta Beta-Nu</title>
  <link rel="icon" type="image/png" href="/assets/images/favicon.ico" />
  <% include base/styles %>
</head>

<body id="home">
  <% include base/navbar %>
  <div id="background" class="full-screen">
    <div id="super-center">
      <div class="col-sm-12 hidden-xs text-center white">
        <h1>Sigma Phi Delta Beta-Nu Chapter</h1>
        <br/>
        <p>The Premier International Fraternity of Engineers</p>
      </div>
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center white">
        <h2>Sigma Phi Delta</h2>
        <h2 class="margin-top-up-5">Beta-Nu Chapter</h2>
        <br/>
        <p>The Premier International Fraternity of Engineers</p>
      </div>
      </div>
    <a id="arrowdown" data-scroll href="#summary"></a>
  </div>
  <div id="summary" class="full-screen">
    <div class="container">
      <div class="col-xs-12 content-area">
        <h1><em>"An engineer should take a good grip on the joys of life..."</em></h1>
        <h2 class="pull-right">The Sigma Phi Delta Code of Ethics</h2>
      </div>
      <div class="col-xs-12 content-area">
        <hr/>
        <p>Sigma Phi Delta is a fraternity of engineers devoted to bettering engineering education and industry, as well as its men in membership. Here in San Luis Obispo, California, the Beta-Nu chapter of Sigma Phi Delta strives to uphold the traditions of its Brotherhood, passed down through the generations. As members, our priorities involve professionalism, as well as upholding our Code of Ethics. Throughout both pledging and active life, we are focused on not only being the best engineers we can be, but also the best men. Representing our ideals and tearing down barriers of stigma are what we stand for.</p>
      </div>
      <div class="col-sm-12">
        <hr/>
        <a href="#about">
          <div class="col-md-4 col-sm-12 hover-info">
            <img class="img-responsive" src="/assets/images/about_thumb.jpg"/>
            <div>First and foremost, we endorse brotherhood and maintain bonds through various activities, such as celebrating Thanksgiving dinner as shown above.</div>
          </div>
        </a>
        <a href="#events">
          <div class="col-md-4 col-sm-12 hover-info">
            <img class="img-responsive" src="/assets/images/talk_thumb.jpg"/>
            <div>The brothers of Sigma Phi Delta work to promote engineering by hosting professional events for general public. The above is a picture take at a tech talk put on by the fraternity.</div>
          </div>
        </a>
        <a href="#recruitment">
          <div class="col-md-4 col-sm-12 hover-info">
            <img class="img-responsive" src="/assets/images/recruitment_thumb.jpg"/>
            <div>If you are interested in joining our brotherhood, please visit our recruitment page or contact our chairman at recruitment.spd.calpoly@gmail.com.</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <% include base/scripts %>
</body>

</html>
