<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<head>
  <title>Sigma Phi Delta Beta-Nu</title>
  <link rel="icon" type="image/png" href="/favicon.ico" />
  <% include base/styles %>
</head>

<body id="home">
  <% include base/navbar %>
  <div id="background" class="full-screen">
    <div id="super-center">
      <div class="col-sm-12 hidden-xs text-center white">
        <h1>Sigma Phi Delta Beta-Nu Chapter</h1>
        <br/>
        <p>The Premier International Fraternity of Engineers</p>
      </div>
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center white">
        <h2>Sigma Phi Delta</h2>
        <h2 class="margin-top-up-5">Beta-Nu Chapter</h2>
        <br/>
        <p>The Premier International Fraternity of Engineers</p>
      </div>
      </div>
    <a id="arrowdown" data-scroll href="#summary"></a>
  </div>
  <div id="summary" class="full-screen">
    <div class="container content-area">
      <h1>Hello world!</h1>
      <h2>This is a subheading</h2>
      <p>And this is just a bunch of text</p>
    </div>
  </div>
  <% include base/scripts %>
</body>

</html>
