extends base

block navbar members element
	span.active
		a.active(href="/internal")
			h4 Members' Page

block main content
	div
		span
			h1
				| Welcome, Brother 
				name=nickname
			h2
				| Useful Links:
			p
				| Meetings
			ul
				li
					a(href='https://docs.google.com/forms/d/1y89NmiA8L54-1w2ZFnZ806YkOBXi7GBFW4w1HOgsmKA/viewform') Attendance Form
				li
					a(href='https://docs.google.com/document/d/1_aArC-CFfNKKrCbP5nOPdrS3WT6bk42kpvUv9dH4ito/edit?pli=1') Bill Template
				li
					a(href='https://docs.google.com/forms/d/1vbE-_Jtsp_BJadHmHGA_URogZlV-vJR-otsl2Lj6Lt8/viewform') Bill Submission
				li
					a(href='https://drive.google.com/folderview?id=0B9CM0HBcCqtxaVJ5ZEJPbjJPYkE&usp=sharing') Shared Files
			p
				| Philanthropy
			ul
				li
					a(href='https://docs.google.com/document/d/1lvy9KrezufgoPUmxTeyJUxRZsITTXiMLrrXQGrUJ8FA/edit?pli=1') Volunteer Form
				li
					a(href='https://www.google.com/calendar/embed?src=philanthropy.spd.calpoly@gmail.com&ctz=America/Los_Angeles') Calendar
			p
				| Pledge
			ul
				li
					a(href='https://docs.google.com/spreadsheets/d/1Qp7H0qO19pPwQDvPRO9OBwT9Ex_PDS_a8-0HPuBLzVU/edit#gid=0') White and Black Marks
				li
					a(href='https://www.google.com/calendar/embed?src=om9tu8ih2i4srfqo98g42uve2c%40group.calendar.google.com&ctz=America%2FLos_Angeles') Calendar
			p
				| Financial
			ul
				li
				a(href='https://docs.google.com/spreadsheet/ccc?key=0AtCM0HBcCqtxdDl4VEk4WTRNWkVpY3VHOXIwVWFKNGc&usp=sharing#gid=0') Budget
			p
				| Academic
			ul
				li
					a(href='https://drive.google.com/folderview?id=0B9CM0HBcCqtxYVhkb043V2RYQVE&usp=sharing') Test Bank
			p
				| Important Docs
			ul
				li
					a(href='https://docs.google.com/spreadsheet/ccc?key=0AtCM0HBcCqtxdGdLdTh2eFdXVFpmSkUwaTF6NzhNWHc&usp=sharing#gid=0') Roster
				li
					a(href='https://docs.google.com/document/d/1lCBT4TzG1c97MKmw4Wt8iddxbkdLopGTlaBxrFvVUgs/edit') Bylaws
				li
					a(href='https://docs.google.com/document/d/1OPDHHfWdU8WJztKpGK78f1qAAoHRFWVGDcI3Hl82IVk/edit') House Rules
				li
					a(href='https://drive.google.com/folderview?id=0B9CM0HBcCqtxdzNtVWl0YWJTbm8&usp=sharing') Docs from the Mothership
				li
					a(href='https://www.google.com/calendar/embed?src=spd.calpoly%40gmail.com&ctz=America%2FLos_Angeles') General Calendar
				li
					a(href='https://www.google.com/calendar/embed?src=ojh5mrl3gia6umgj5021vugn68%40group.calendar.google.com&ctz=America%2FLos_Angeles') Birthdays
