extends base

block navbar recruitment element
	span.active
		a.active(href="/recruitment")
			h4 Recruitment

block main content
	div
		h1 Beta-Nu Recruitment
		h2 Our Standards
		p
			| The Sigma Phi Delta Fraternity is historically known
			| as a professional brotherhood of engineers. We hold
			| professionalism and education among our highest
			| priorities. All who wish to join must be studying
			| under the College of Engineering at Cal Poly and
			| have a cumulative GPA of at least a 2.7. This includes
			| the following majors:
		ul
			li Aerospace Engineering
			li Biomedical Engineering
			li Civil Engineering
			li Computer Engineering
			li Computer Science
			li Environmental Engineering
			li Electrical Engineering
			li General Engineering
			li Industrial Engineering
			li Liberal Arts and Engineering Studies
			li Manufacturing Engineering
			li Materials Engineering
			li Mechanical Engineering
			li Software Engineering
		h2 Rush
		img(src="/images/rushflyer.jpg")
		p
			| Beta-Nu chapter will not be sponsering rush events
			| until Fall of 2015. If you are interested, 
			a(href="/contact_us/") contact us
			|  for more details.
