<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<head>
  <title>Sigma Phi Delta Beta-Nu</title>
  <link rel="icon" type="image/png" href="/assets/images/favicon.ico" />
  <% include base/styles %>
</head>

<body>
  <% include base/navbar %>
  
  <% include base/scripts %>
</body>

</html>
