<%         /* template.ejs */         %>
<%  /* Template for serving pages */  %>
<%   /* Written by Brandon Kelley */  %>

<!DOCTYPE html>
<html>

<head>
  <title>Sigma Phi Delta Fraternity</title>
  <link rel="icon" type="image/png" href="/favicon.ico" />
  <% include base/styles %>
</head>

<body>
  <div id="navbar">
    <% include base/navbar %>
  </div>
  <div class="content">
    <span class="column">
      <div class="container">
        <% include base/left_col %>
      </div>
    </span>
    <span id="main">
      <div class="container">
        <% if (title === "Home") { %>
          <% include content/home %>
        <% } else if (title === "About Us") { %>
          <% include content/about_us %>
        <% } else if (title === "Recruitment") { %>
          <% include content/recruitment %>
        <% } else if (title === "Events") { %>
          <% include content/events %>
        <% } else if (title === "Event") { %>
          <% include content/event %>
        <% } else if (title === "New Event") { %>
          <% include content/new_event %>
        <% } else if (title === "Gallery") { %>
          <% include content/gallery %>
        <% } else if (title === "Album") { %>
          <% include content/album %>
        <% } else if (title === "Photo") { %>
          <% include content/photo %>
        <% } else if (title === "New Photo") { %>
          <% include content/new_photo %>
        <% } else if (title === "Contact Us") { %>
          <% include content/contact_us %>
        <% } else if (title === "Dashboard") { %>
          <% include content/dashboard %>
        <% } else if (title === "Roster") { %>
          <% include content/roster %>
        <% } else if (title === "Not Found") { %>
          <% include content/not_found %>
        <% } %>
      </div>
    </span>
    <span class="column">
      <div class="container">
        <% include base/right_col %>
      </div>
    </span>
  </div>
  <div id="footer">
    <% include base/footer %>
  </div>
  <% include base/scripts %>
</body>

</html>
