<!DOCTYPE html>
<html>

<head>
  <title>Sigma Phi Delta Beta-Nu</title>
  <link rel="icon" type="image/png" href="/favicon.ico" />
  <% include base/styles %>
</head>

<body>
  
  <div id="navbar">
    <% include base/navbar %>
  </div>
  
  <div class="content">
    
    <span class="column">
      <div class="container">
        <% include base/left_col %>
      </div>
    </span>
    
    <span id="main">
      <div class="container">
      </div>
    </span>
    
    <span class="column">
      <div class="container">
        <% include base/right_col %>
      </div>
    </span>
    
  </div>
  
  <div id="footer">
    <% include base/footer %>
  </div>
  
  <% include base/scripts %>
  
</body>

</html>
