/* General Code */

h1, h2, h3, h4, p, ul, ol, li, input, body, div, span {
	margin: 0em;
	padding: 0em;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    font-family: 'Charcoal', Times, serif;
    font-size: 100%;
}

div {
    display: block;
    overflow: auto;
}

span {
	display: inline-block;
	float: left;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	color: #FA0000;
	margin-bottom: 0.4em;
}

h2 {
	color: #5D5D5D;
	margin-bottom: 0.667em;
}

h3 {
    font-size: 24px;
    margin-bottom: 4px;
}

h4 {
    font-size: 1em;
}

p {
	text-align: left;
	margin-bottom: 0.5em;
    line-height: 1.25em;
}

a {
    text-decoration: none;
}

ol, ul {
	padding-bottom: 1em;
}

li {
	margin-left: 1.5em;
    line-height: 1.25em;
}

table {
	margin-bottom: 1em;
}

tr {
    line-height: 1.25em;
}

th {
    text-align: left;
}

.container {
    padding: 16px;
}


*:focus {
	outline: 0;
}

.right {
    float: right;
}

/* Navigation Bar */

#mobile_navbar_button {
    display: inline-block;
    margin: 0.5em;
    width: 2em;
    height: 2em;
    background-color: #000000;
    border: 1px solid #fa0000;
    border-radius: 5px;
}

#mobile_navbar {
    display: none;
}

#navbar {
    display: block;
    width: 100%;
    height: 3em;
    background-color: #2A2A2A;
    overflow: hidden;
}

#navbar_header {
	display: inline-block;
	width: 20%;
	float: left;
    text-align: center;
}

#navbar_header_container {
    display: block;
    width: 100px;
    margin: 0em auto;
}

#navbar_header_container div {
    padding: 0.35em 0em 0.35em 0em;
}

#navbar h {
    font-size: 2em;
    font-weight: bold;
}

#navbar .active {
    background-color: #000000;
}

#navbar .active h {
    color: #fa0000;
}

#navbar .active h4 {
    color: #fa0000;
}

#navbar_body span {
    display: inline-block;
	float: left;
	text-align: center;
	padding: 0.9em 1em 0.9em 1em;
}

#navbar a {
    text-decoration: none;
    color: #FFFFFF;
}

#navbar a:hover {
    color: #FA0000;
}

#navbar_school_container {
	display: inline-block;
	float: right;
	width: 20%;
	text-align: center;
    margin: 0px;
    padding: 0px;
}

/* Columns */

.column {
    width: 20%;
    display: inline-block;
    float: left;
}

.column section {
    border-top: 1px solid black;
	padding: 1em;
	overflow: hidden;
    text-align: center;
}

.column section a {
    text-decoration: none;
    color: #000000;
}

.column section a:hover {
    color: #fa0000;
}

.column section ul {
    width: 150px;
    margin: auto;
}

.column section li {
    text-align: left;
}

.column section input {
    display: block;
    margin: 5px auto;
}

.column section button {
    margin: auto;
}

.remove {
    display: none;
}

#username {
    color: #FA0000;
}

/* Main Page container */

#main {
    width: 60%;
    min-height: 750px;
    display: inline-block;
    float: left;
}

#main .container {
	padding: 1em 0em 1em 0em;
}

#main section {
    border-top: 1px solid black;
	padding: 1em;
	overflow: hidden;
}

#newEvent label {
    display: block;
    width: 300px;
    margin-bottom: 10px;
    overflow: auto;
}

#newEvent input {
    display: inline-block;
    float: right;
    width: 150px;
}

#newEvent select {
    display: inline-block;
    float: right;
    width: 150px;
}

#newEvent textarea {
    display: inline-block;
    float: right;
    width: 150px;
}

#newEvent button {
    display: block;
    margin: 10px auto 0px auto;
}

#banner {
	text-align: center;
}

#banner img {
    width: 60%;
	padding-bottom: 1em;
}

#flexslider { 
	border-width: 0px;
	padding: 0em;
    margin: 0em;
    overflow: hidden;
}

#flexslider ul li {
	margin: 0em;
}

#flexslider li img {
	padding: 0em;
}

#membership span {
    margin-right: 30px;
}

.event_thumb {
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border: 1px solid #FA0000;
    width: 370px;
    height: 120px;
    overflow: hidden;
}

.event_thumb img {
    width: 120px;
}

.event_thumb h3 {
    margin-left: 136px;
}

.event_thumb p {
    margin-left: 136px;
    margin-bottom: 0px;
}

a .event_thumb * {
    color: #000000;
}

#event img {
    margin-right: 32px;
    margin-bottom: 16px;
    border: 1px solid #FA0000;
}

.gallery_thumb {
    width: 200px;
    height: 260px;
    overflow: hidden;
    border: 1px solid #FA0000;
    text-align: center;
    padding: 16px;
    margin-bottom: 16px;
}

.gallery_thumb div {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}

.gallery_thumb img {
    height: 200px;
    position: relative;
    left: 50%;
    margin-left: -100%;
}

.left_rounded_btn {
    display: inline-block;
    float: left;
    padding: 10px;
    border: 1px solid #FA0000;
    background: #EAEAEA;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right_rounded_btn {
    display: inline-block;
    float: left;
    padding: 10px;
    border: 1px solid #FA0000;
    border-left: 0px;
    background: #EAEAEA;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#photo img {
    width: 100%;
}

#roster {
    width: 100%;
    overflow-x: scroll;
}

#roster table {
    width: 2000px;
}

/* Footer */

#footer {
    display: block;
    clear: both;
    width: 100%;
    background-color: #2A2A2A;
    padding: 1em 0em 1em 0em;
    color: #FFFFFF;
    text-align: center;
}
