/* General Code */

h1, h2, h3, h4, p, ul, ol, li, body, div, span {
	margin: 0em;
	padding: 0em;
}

body {
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Charcoal', Times, serif;
	font-size: 100%;
}

span {
	display: inline-block;
	float: left;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	color: #FA0000;
	margin-bottom: 0.4em;
}

h2 {
	color: #5D5D5D;
	margin-bottom: 0.667em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}

p {
	text-align: left;
	margin-bottom: 0.5em;
}

ol, ul {
	padding-bottom: 1em;
}

li {
	margin-left: 1.5em;
}

table {
	margin-bottom: 1em;
}

input {
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 1em;
}

button {
	margin-top: 1em;
}

#title {
	padding-top: 1em;
	padding-bottom: 1em;
}

*:focus {
	outline: 0;
}

/* Navigation Bar */

.navbar {
    display: block;
    width: 100%;
    height: 3em;
    background-color: #2A2A2A;
}

#main_nav_container {
	display: inline-block;
	width: 15%;
	float: left;
}

#main_nav_element {
	padding-left: 28%;
	padding-right: 28%;
}

#main_active {
	padding: 0.3em 10% 0.3em 10%;
}

.navbar .active {
    background-color: #000000;
    color: #FA0000;
}

.navbar span {
    display: inline-block;
	float: left;
	text-align: center;
	padding: 0.9em 1em 0.9em 1em;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar a:hover {
    color: #FA0000;
}

#school_nav_container {
	display: inline-block;
	float: right;
	width: 15%;
	text-align: center;
}

#school_nav {
	padding-left: 28%;
}

/* Submenu */

.column {
    width: 15%;
    display: inline-block;
    float: left;
}

.submenu_animate div {
	padding: 0.5em;
	text-align: center;
	border-bottom: 1px solid black;
}

.submenu_static div {
	padding: 0.5em;
	text-align: center;
	border-bottom: 1px solid black;
}

#submenu_spacer {
	display: block;
	height: 3em;
	border-bottom: 1px solid black;
}

.submenu a {
    color: black;
    text-decoration: none;
}

.submenu a:hover {
    color: #FA0000;
}

/* Main Page container */

#blank {
    padding-top: 0em;
    padding-bottom: 0em;
	border-bottom: 1px solid black;
}

.main {
    width: 70%;
    display: inline-block;
    float: left;
}

.column .container {
    padding: 1em 1em 0em 1em;
}

.main .container {
	padding: 1em 0em 1em 0em;
}

.main .container div {
    border-bottom: 1px solid black;
	padding: 1em 1em 0em 1em;
	overflow: hidden;
}

#banner {
	text-align: center;
}

#banner img {
    width: 60%;
	padding-bottom: 1em;
}

#flexslider { 
	border-width: 0px;
	padding: 0em;
}

#flexslider ul li {
	margin: 0em;
}

#bottom_element {
	border-width: 0em;
}

li img {
	padding: 0em;
}

/* News Column */

.news_column {
    width: 15%;
    display: inline-block;
    float: left;
	text-align: center;
}

.news_column img {
    width: 100%;
	margin-bottom: 1em;
}

/* Footer */

.footer {
    display: block;
    width: 100%;
    background-color: #2A2A2A;
    clear: both;
    padding: 1em 0em 1em 0em;
    color: #FFFFFF;
    text-align: center;
}
