<%         /* left_col.ejs */         %>
<%      /* Left column partial */     %>
<%   /* Written by Brandon Kelley */  %>

<span class="column">
  <div class="container">
    <% if (user !== null) { %>
      <div>
        <h4>Logged in as: <%= user.username %></h4>
        <br/>
        <button id="logout" type="button">Logout</button>
      </div>
      <div></div>
      <div>
        <h4>Personalized Links</h4>
        <br/>
        <ul style="margin-left: 1em;">
          <li style="text-align: left"><a href="#">SPD Drive</a></li>
          <li style="text-align: left"><a href="#">Email</a></li>
          <li style="text-align: left"><a href="#">Events</a></li>
          <li style="text-align: left"><a href="http://www.reddit.com">Reddit</a></li>
        </ul>
      </div>
    <% } else { %>
      <div>
        <h4>Login</h4>
        <input type="text" placeholder="Username"/>
        <input type="password" placeholder="Password"/>
        <button id="login" type="button">Submit</button>
      </div>
    <% } %>
    <div></div>
  </div>
</span>
