<div class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand"
      <% if (page === "content/home") { %>
        data-scroll href="#home"
      <% } else { %>
        href="/"
      <% } %>
    >&Sigma;&Phi;&Delta;</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" style="float: right;">
      <li><a href="about_us">About Us</a></li>
      <li><a href="recruitment">Recruitment</a></li>
      <li><a href="events">Events</a></li>
      <li><a href="gallery">Gallery</a></li>
      <li><a href="contact_us">Contact Us</a></li>
      <li><a href="//calpoly.edu" target="_blank">Cal Poly SLO</a></li>
    </ul>
  </div>
</div>
