<%        /* right_col.ejs */        %>
<%     /* Right column partial */    %>
<%  /* Written by Brandon Kelley */  %>

<span class="column">
  <div class="container">
    <div></div>
  </div>
</span>
