<%        /* right_col.ejs */        %>
<%     /* Right column partial */    %>
<%  /* Written by Brandon Kelley */  %>

<% if (user !== null) { %>
  <section>
    <h4>Events</h4>
    <br/>
    <ul>
      <% if (user["events"].length === 0) { %>
        <p style="text-align: center">(You haven't joined any events yet!)</p>
      <% } else { %>
        <% for (var i = 0; i < user["events"].length; i++) { %>
          <li><a href=<%= user["events"][i]["url"] %>>
            <%= user["events"][i]["name"] %>
          </a></li>
        <% } %>
      <% } %>
    </ul>
  </section>
  <section>
    <a href="/new_event"><h4>Create a New Event</h4></a>
  </section>
<% } %>
<section>
  <% /* The bottom line */ %>
</section>
