<%        /* right_col.ejs */        %>
<%     /* Right column partial */    %>
<%  /* Written by Brandon Kelley */  %>

<span class="column">
  <div class="container">
    <div class="column_section">
      <% /* This is the top line */ %>
    </div>
  </div>
</span>
