@media (max-width: 1200px) {
  
  .column {
    display: none;
  }
  
  .main {
    width: 100%;
  }
  
  .main .container {
    padding-left: 1em;
    padding-right: 1em;
  }
  
  #navbar_header_container {
    display: none;
  }
  
  #navbar_body {
    display: none;
  }
  
  #navbar_school_container {
    width: 150px;
  }
  
  #mobile_navbar_button {
    display: inline-block;
  }
  
}
