/* General theme applied to each page */

body {
	margin: 0em;
	padding: 0em;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	color: #FA0000;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #5D5D5D;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1em;
}

.navbar h3 {
	margin: 0em;
	padding: 0em;
}

.navbar h4 {
	margin: 0em;
	padding: 0em;
}

.submenu h4 {
	margin: 0em;
	padding: 0em;
}

p {
	width: 80%;
}


